<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Correo</th>
      <th>Suscrito</th>
      <th>País</th>
      <th>Ciudad</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios">
      <td>{{ usuario.nombre }}</td>
      <td>{{ usuario.correo }}</td>
      <td>{{ usuario.suscrito }}</td>
      <td>{{ usuario.pais }}</td>
      <td>{{ usuario.ciudad }}</td>
      <td><button (click)="eliminarUsuario(usuario)">Eliminar usuario</button></td>
    </tr>
  </tbody>
</table>
